// Components :: Stone Tile

// Dependencies
@import "pack/seed-dash/_index";
@import "pack/seed-props/_index";
@import "pack/seed-publish/_index";
@import "pack/seed-this/_index";
@import "../configs/namespace";
@import "../configs/stroke";
@import "../configs/tile";

@include export(tinybits-stone-tile) {
  .#{$tbs-ns}-c-stone-tile {
    $this: this();
    $mod: "-";

    // background-color: currentColor;
    background-color: _get($tbs-tile, background-color);
    border-color: _get($tbs-tile, border-color);
    border-style: solid;
    border-width: _get($tbs-stroke, width);
    box-sizing: border-box;
    box-shadow: _get($tbs-tile, box-shadow);
    display: inline-block;
    font-size: 0;
    height: _get($tbs-tile, size);
    width: _get($tbs-tile, size);
    vertical-align: top;

    + #{$this} {
      margin-left: -(_get($tbs-stroke, width));
    }

    #{$this} {
      margin-left: -(_get($tbs-stroke, width));
      margin-right: -(_get($tbs-stroke, width));
      margin-top: -(_get($tbs-stroke, width));

      &:first-child {
        margin-right: 0;
      }

      &:nth-child(4) {
        margin-left: 0;
      }
    }

    // Modifiers
    // Material
    &.m-alt {
      background-color: _get($tbs-tile, alt, background-color);
    }

    // Sizes
    &.x {
      @include prop-map(_get($tbs-tile, sizes), (size)) {
        height: _get(prop(size), height);
        width: _get(prop(size), width);
      }
    }
  }
}

@include publish(tinybits-stone-tile);
